<html>
<body> 
@{
if (IsPost) { 
string guess = Request["yourguess"]; 
<p>Guessing Game<p>
<p>You entered: <br />
Company Name: @companyname <br />
Contact Name: @contactname </p>
}
else
{
<form method="get" action="">
Company Name:<br />
<input type="text" name="yourguessuess" value="" /><br />
Contact Name:<br />
<input type="submit" value="Submit" class="submit" />
</form>
}
} 
</body> 
</html>