<html>
<body> 
@{
	string message = "";
	Random random = new Random();
	int randomNumber = random.Next(0, 10);

	if (IsPost) { 
		string guess = Request["yourguess"];
		int yourguess = Convert.ToInt32(guess);
		if (yourguess == randomNumber) {
			message = "You guessed it!";
		}
		else if ( guess > newnum)
		{
			message = "Too High";
		}
		else  
		{
			message = "Too Low";
		} 
	}
}
<form method="get" action="">
Company Name:<br />
<input type="text" name="yourguess" value="" /><br />
What is your guess?<br />
<input type="submit" value="Submit" class="submit" />
</form>
<p>@message</p>
</body> 
</html>

