@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}
@section QOTD {
    <p>QOTD: If opportunity doesn't knock, build a door. - Milton Berle</p>
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Northeast 4X4</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>603.335.0386</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>603.575.1776</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@Northeast4X4.com">Support@Northeast4X4.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@Northeast4X4.com">Marketing@Northeast4X4.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@Northeast4X4.com">General@Northeast4X4.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        400 Jeep St<br />
        Rochester, NH 03868-5909
    </p>
</section>