@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
@section QOTD {
    <p>QOTD: AN apple a day keeps the doctor away. -Unknown</p>
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>Description: Website has a different QOTD: for each tab.</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
       
    </li>

    <li class="two">
        
    </li>

    <li class="three">
        
    </li>
</ol>