@{
    ViewBag.Title = "Northeast 4X4";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>At Northeast 4x4 we specialize in modification of 4x4 trucks and jeeps.</p>
<p>We have fully certified ASE technicians.</p>
