@{
    ViewBag.Title = "Contact Northeast 4X4";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    35 JK Way<br />
    Rochester, NH 03867-5909<br />
    <abbr title="Phone">P:</abbr>
    603.335.1776
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Northeast4x4.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Northeast4x4.com</a>
</address>